@page "/write"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMediator Mediator
@attribute [StreamRendering]

<PageTitle>Write New Article</PageTitle>

<h3>Write New Article</h3>

@if (isLoading)
{
    <p><em>Loading user information...</em></p>
}
else if (!isAuthenticated)
{
    <p>You must be signed in to write a new article.</p>
}
else if (!string.IsNullOrEmpty(userId) && IsAdminUser(userId))
{
    <ArticleEditor UserId="@userId"/>
}
else
{
    <p>You are not authorized to write a new article.</p>
    @userId
}


@code {
    private string? userId;
    private bool isAuthenticated;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        isAuthenticated = user.Identity?.IsAuthenticated ?? false;
        userId = user.FindFirst("http://schemas.microsoft.com/identity/claims/objectidentifier")?.Value;
        isLoading = false;
    }

    private bool IsAdminUser(string userId)
    {
		return true; // TODO Replace with actual logic to check if the user is an admin
    }
}
