@page "/write"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IMediator Mediator
@attribute [StreamRendering]

<PageTitle>Write New Article</PageTitle>

<h3>Write New Article</h3>

@if (isLoading)
{
    <p><em>Loading user information...</em></p>
}
else if (!isAuthenticated)
{
    <p>You must be signed in to write a new article.</p>
}
else if (userId == "1") // Assuming "1" is the ID of the admin user. TODO: Replace with actual admin check logic
{
    <p>Your User ID: @userId</p>
    <p>Here you can write a new article.</p>
    <!-- Add your form or editor for writing an article here -->
}
else
{
    <p>You are not authorized to write a new article.</p>
}


@code {
    private string? userId;
    private bool isAuthenticated;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
		isAuthenticated = user.Identity?.IsAuthenticated ?? false;
        userId = user.FindFirst("http://schemas.microsoft.com/identity/claims/objectidentifier")?.Value;
		isLoading = false;
    }
}
