@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center">
            <img src="https://ui-avatars.com/api/?name=@context.User.Identity.Name" 
                 alt="Profile" class="rounded-circle" style="width:32px;height:32px;margin-right:8px;" />
            <a class="btn btn-primary ms-2" href="@SignOutUrl">Sign out</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-primary" href="MicrosoftIdentity/Account/SignIn">Sign in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private string SignOutUrl =>
        $"MicrosoftIdentity/Account/SignOut?postLogoutRedirectUri={Uri.EscapeDataString(Navigation.Uri)}";
}